<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947807049845-fsdu4rnbbdll0pish1jcpn6auupqn43a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947807049845-fsdu4rnbbdll0pish1jcpn6auupqn43a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>947807049845-0ahfl5ijkt2se62u1mse7ne603oa9opf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYxkNDsK13pfzkapmMw0jL_qPD8v0Sq_g</string>
	<key>GCM_SENDER_ID</key>
	<string>947807049845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gaurav.fluttershare</string>
	<key>PROJECT_ID</key>
	<string>fluttershare-515c2</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershare-515c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947807049845:ios:8be970416f60593e5b803c</string>
	<key>DATABASE_URL</key>
	<string>https://fluttershare-515c2.firebaseio.com</string>
</dict>
</plist>